<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>取色器</string>
		<key>class</key>
		<string>ColorPickerVC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>心率检测</string>
		<key>class</key>
		<string>HeartRateVC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>计算器</string>
		<key>class</key>
		<string>CalculatorVC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>网页截图</string>
		<key>class</key>
		<string>WebScreenShotVC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>分贝仪</string>
		<key>class</key>
		<string>DecibelMeterVC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>网络测速</string>
		<key>class</key>
		<string>NetworkMeasureVC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>二维码生成</string>
		<key>class</key>
		<string>QRCreaterVC</string>
	</dict>
</array>
</plist>
