<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>公众服务电话号码、常用电话、紧急电话</string>
		<key>list</key>
		<array>
			<dict>
				<key>number</key>
				<string>110</string>
				<key>title</key>
				<string>报警服务台</string>
			</dict>
			<dict>
				<key>number</key>
				<string>119</string>
				<key>title</key>
				<string>火警电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>120</string>
				<key>title</key>
				<string>急救电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>122</string>
				<key>title</key>
				<string>道路交通事故报警台</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12110</string>
				<key>title</key>
				<string>公安短信报警号码</string>
			</dict>
			<dict>
				<key>number</key>
				<string>114</string>
				<key>title</key>
				<string>查号台</string>
			</dict>
			<dict>
				<key>number</key>
				<string>11185</string>
				<key>title</key>
				<string>邮政客户服务电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12348</string>
				<key>title</key>
				<string>全国法律服务热线</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12395</string>
				<key>title</key>
				<string>水上遇险求救电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12121</string>
				<key>title</key>
				<string>气象服务电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12117</string>
				<key>title</key>
				<string>报时服务电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>999</string>
				<key>title</key>
				<string>红十字会急救台</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95119</string>
				<key>title</key>
				<string>森林火警电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>112</string>
				<key>title</key>
				<string>紧急呼叫中心</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12306</string>
				<key>title</key>
				<string>全国铁路客服中心</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>全国国家机构监督、投诉、抢修、举报电话</string>
		<key>list</key>
		<array>
			<dict>
				<key>number</key>
				<string>95598</string>
				<key>title</key>
				<string>电力系统客服电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12315</string>
				<key>title</key>
				<string>消费者投诉举报专线电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12365</string>
				<key>title</key>
				<string>质量监督电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12369</string>
				<key>title</key>
				<string>环保局监督电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12345</string>
				<key>title</key>
				<string>政府公益服务接入网</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12318</string>
				<key>title</key>
				<string>文化市场统一举报电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12358</string>
				<key>title</key>
				<string>价格监督举报电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12310</string>
				<key>title</key>
				<string>机构编制违规举报热线</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12333</string>
				<key>title</key>
				<string>民工维权热线电话</string>
			</dict>
			<dict>
				<key>number</key>
				<string>12320</string>
				<key>title</key>
				<string>公共卫生环境投诉</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>全国通信机构服务电话号码</string>
		<key>list</key>
		<array>
			<dict>
				<key>number</key>
				<string>10000</string>
				<key>title</key>
				<string>中国电信客户服务热线</string>
			</dict>
			<dict>
				<key>number</key>
				<string>10086</string>
				<key>title</key>
				<string>中国移动客服热线</string>
			</dict>
			<dict>
				<key>number</key>
				<string>17911</string>
				<key>title</key>
				<string>中国联通IP号码</string>
			</dict>
			<dict>
				<key>number</key>
				<string>116114</string>
				<key>title</key>
				<string>中国联通的“电话导航”业务</string>
			</dict>
			<dict>
				<key>number</key>
				<string>10050</string>
				<key>title</key>
				<string>铁通客户服务</string>
			</dict>
			<dict>
				<key>number</key>
				<string>10010</string>
				<key>title</key>
				<string>中国联通客服热线</string>
			</dict>
			<dict>
				<key>number</key>
				<string>17900</string>
				<key>title</key>
				<string>中国电信IP电话卡</string>
			</dict>
			<dict>
				<key>number</key>
				<string>17951</string>
				<key>title</key>
				<string>中国移动IP号码</string>
			</dict>
			<dict>
				<key>number</key>
				<string>118114</string>
				<key>title</key>
				<string>中国电信号码百事通</string>
			</dict>
			<dict>
				<key>number</key>
				<string>10086999</string>
				<key>title</key>
				<string>中国垃圾短信投诉号码</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>全国银行客户服务电话号码</string>
		<key>list</key>
		<array>
			<dict>
				<key>number</key>
				<string>95555</string>
				<key>title</key>
				<string>招商银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95566</string>
				<key>title</key>
				<string>中国银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95533</string>
				<key>title</key>
				<string>建设银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95588</string>
				<key>title</key>
				<string>工商银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95558</string>
				<key>title</key>
				<string>中信银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95528</string>
				<key>title</key>
				<string>浦发银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95501</string>
				<key>title</key>
				<string>深发银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95599</string>
				<key>title</key>
				<string>农业银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95568</string>
				<key>title</key>
				<string>民生银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95595</string>
				<key>title</key>
				<string>光大银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95559</string>
				<key>title</key>
				<string>交通银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95508</string>
				<key>title</key>
				<string>广发银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95577</string>
				<key>title</key>
				<string>华夏银行</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95561</string>
				<key>title</key>
				<string>兴业银行</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>快递公司客服电话</string>
		<key>list</key>
		<array>
			<dict>
				<key>number</key>
				<string>95543</string>
				<key>title</key>
				<string>申通快递</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95546</string>
				<key>title</key>
				<string>韵达快递</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95311</string>
				<key>title</key>
				<string>中通快递</string>
			</dict>
			<dict>
				<key>number</key>
				<string>4009565656</string>
				<key>title</key>
				<string>百世汇通</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95338</string>
				<key>title</key>
				<string>顺丰速运</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95554</string>
				<key>title</key>
				<string>圆通快递</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95353</string>
				<key>title</key>
				<string>德邦物流</string>
			</dict>
			<dict>
				<key>number</key>
				<string>11185</string>
				<key>title</key>
				<string>邮政特快专递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>保险客服电话</string>
		<key>list</key>
		<array>
			<dict>
				<key>number</key>
				<string>95500</string>
				<key>title</key>
				<string>太平洋保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95511</string>
				<key>title</key>
				<string>平安保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95515</string>
				<key>title</key>
				<string>合众人寿保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95519</string>
				<key>title</key>
				<string>中国人寿保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95522</string>
				<key>title</key>
				<string>合众人寿保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95567</string>
				<key>title</key>
				<string>新华人寿保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95589</string>
				<key>title</key>
				<string>太平保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95596</string>
				<key>title</key>
				<string>民生人寿保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95510</string>
				<key>title</key>
				<string>阳光保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95511</string>
				<key>title</key>
				<string>平安产险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95518</string>
				<key>title</key>
				<string>中国人民保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95522</string>
				<key>title</key>
				<string>泰康人寿保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95535</string>
				<key>title</key>
				<string>生命人寿保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95585</string>
				<key>title</key>
				<string>中华保险</string>
			</dict>
			<dict>
				<key>number</key>
				<string>95590</string>
				<key>title</key>
				<string>大地保险</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>其它常用电话</string>
		<key>list</key>
		<array>
			<dict>
				<key>number</key>
				<string>0755-83765566</string>
				<key>title</key>
				<string>腾讯</string>
			</dict>
			<dict>
				<key>number</key>
				<string>0571-85027110</string>
				<key>title</key>
				<string>阿里巴巴</string>
			</dict>
			<dict>
				<key>number</key>
				<string>400-0368-163</string>
				<key>title</key>
				<string>网易</string>
			</dict>
			<dict>
				<key>number</key>
				<string>400-921-3900</string>
				<key>title</key>
				<string>百度</string>
			</dict>
			<dict>
				<key>number</key>
				<string>400-992-2556</string>
				<key>title</key>
				<string>字节跳动</string>
			</dict>
			<dict>
				<key>number</key>
				<string>950618</string>
				<key>title</key>
				<string>京东</string>
			</dict>
			<dict>
				<key>number</key>
				<string>021-53395088</string>
				<key>title</key>
				<string>拼多多-商家</string>
			</dict>
			<dict>
				<key>number</key>
				<string>021-53395288</string>
				<key>title</key>
				<string>拼多多-消费者</string>
			</dict>
			<dict>
				<key>number</key>
				<string>400-106-6666</string>
				<key>title</key>
				<string>当当网</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
